<section>
  <h1>Links</h1>
  <ul>
    <li><a href="http://www.flickr.com/photos/whatsyourmeme/">Photos @ Flickr</a></li>
    <li><a href="http://irv.ourexchange.net/">Redline Doc</a></li>
    <li>
        <a href="http://shootthemoonfilms.com/">Shoot the Moon Films</a>
        <a href="http://www.facebook.com/ShootTheMoonFilms"><img src="/images/facebook-icon.png" height="16" width="16" alt="[Facebook]" /></a>
        <a href="http://www.twitter.com/STM_Films"><img src="/images/twitter-icon.png" height="16" width="16" alt="[Twitter]" /></a>
    </li>
  </ul>
</section>
