<section>
  <h1>Links</h1>
  <ul>
    <li><a href="https://crated.com/jbuchbinder">Crated Photo Prints</a></li>
    <li><a href="http://www.flickr.com/photos/whatsyourmeme/">Flickr Photos</a></li>
    <li><a href="http://redlinedoc.com/">Redline Doc</a></li>
    <li>
        <a href="http://shootthemoonfilms.com/">Shoot the Moon Films</a>
        <a href="http://www.facebook.com/ShootTheMoonFilms"><span class="socicon">b</span></a>
        <a href="http://www.twitter.com/STM_Films"><span class="socicon">a</span></a>
        <a href="http://www.youtube.com/ShootTheMoonVideos"><span class="socicon">r</span></a>
    </li>
    <li><a href="http://www.facebook.com/JeffreyBuchbinderFilm">Facebook Fan Page</a></li>
    <li><a href="http://twitter.com/jbuchbinder">Twitter Feed</a></li>
  </ul>
</section>
