<section>
  <div>
    <a href="https://facebook.com/JeffreyBuchbinderFilm"><img src="/images/signature/facebook.png" width=32 height=32 alt="[Facebook]"/></a>
    <a href="https://twitter.com/jbuchbinder"><img src="/images/signature/twitter.png" width=32 height=32 alt="[Twitter]" /></a>
    <a href="http://www.flickr.com/photos/whatsyourmeme/"><img src="/images/signature/flickr.png" width=32 height=32 alt="[Flickr]" /></a>
    <a href="http://instagram.com/jbuchbinderphotos"><img src="/images/signature/instagram.png" width=32 height=32  alt="[Instagram]"/></a>
    <a href="https://github.com/jbuchbinder"><img src="/images/signature/github.png" width=32 height=32 alt="[Github]" /></a>
    <a href="https://ello.co/jbuchbinder"><img src="/images/signature/ello.png" width=32 height=32 alt="[Ello]" /></a>
  </div>
</section>
